.footer {
  display: flex;
  min-height: 350px;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-around;
  flex-direction: row;
}

.footer__columns_content-copyright {
  display: block;
  flex-basis: 711px;
  position: relative;
}

.footer__author {
  position: absolute;
  left: 0px;
  bottom: 18px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns_content-about {
  flex-basis: 237px;
  display: block;
  flex-direction: column;
  color: #fff;
}

.footer__column-heading {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  height: auto;
}

.footer__columns_content-social {
  height: 10px;
  flex-wrap: wrap;
  flex-basis: 111.05px;
  position: relative;
  color: #fff;
}
.footer__list {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding-left: 0px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  margin-top: 0;
}

.footer__collumn-link {
  text-decoration: none;
  margin-left: 0px;
  color: #fff;
}

.footer__social-icons {
  margin-right: 10px;
}
