@import url(/vendor/normalize.css);
@import url(../blocks/header.css);
@import url(../blocks/description.css);
@import url(../blocks/two-columns.css);
@import url(../blocks/digits.css);
@import url(../blocks/techniques.css);
@import url(../blocks/video.css);
@import url(../blocks/oakley.css);
@import url(../blocks/khan.css);
@import url(../blocks/feynman.css);
@import url(../blocks/table.css);
@import url(../blocks/kaufman.css);
@import url(../blocks/resources.css);
@import url(../blocks/footer.css);

.body {
  margin: 0;
  padding: 0;
}
.page {
  min-width: 1100px;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.7;
}
